:root {
  font-family: "Cormorant Upright, serif", serif;
  line-height: 1;
  font-weight: 400;
--font-main: "Cormorant Upright, serif";
--font-title: 'Great Vibes', cursive;
--color-primary: #6f633d;
--color-secondary: #b8b89c;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
    margin: 0 !important;
    padding: 0 !important;
    height: 100% !important;
    width: 100% !important;
    position: relative;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
